:root {
  --violet: #5a50fa;
  --white: #ffffff;
  --text-default: #000000;
  --error: #FF0000;
  --shadow: 2px 2px 5px 2px rgba(46,46,46,0.3);
  
  /* "mobile first" approach */
  --tablet: 640px;
  --laptop: 1024px;
  --desktop: 1280px;
}


*{
 margin:0px;
 padding:0px;
 border:none;
 outline:none;
 font-size: 100%;
 box-sizing: border-box;
}

html {
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "liga" 1;
    font-feature-settings: "liga" 1;
}

/*** 

====================================================================
 Global Settings
====================================================================

 ***/

body {
 
 font-size:14px;
 color: #353535;
 line-height: 20px;
 font-weight:400;
 background:#FAFAFA;
 -webkit-font-smoothing: antialiased;
 -moz-font-smoothing: antialiased;
 font-family: 'Montserrat', sans-serif;
 overflow-x: hidden;
}

a{
 text-decoration: none;
 cursor: pointer;
 color: #000000;
}

a:hover,
a:focus,
a:visited{
 text-decoration:none;
 outline:none;
}

h1,h2,h3,h4,h5,h6 {
 position:relative;
 font-weight:normal;
 margin:0px;
 background:none;
 line-height:1.2em;
 color: #353535;
}

textarea{
 overflow:hidden; 
 resize: none;
}

li {
 list-style: none;
}

button{
 outline: none !important;
 cursor: pointer;
 background-color: transparent;
}

[hidden] {
    display: none !important;
}
.container {
 display: block;
 width: 100%;
 padding: 0 1.7rem;
 margin: 0 auto;
}

@media (min-width: 1024px) {
    .container {
        max-width: 116rem;
    }
}

.text_body1 {
    font-size: 2rem;
}

.text_body2 {
    font-size: 1.6rem;
}

.text_body3 {
    font-size: 1.3rem;
}

.text_caption {
    
}

.text_center {
    display: block;
    text-align: center;
}

.text_right {
    display: block;
    text-align: right;
}

.header_h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

@media (min-width: 1024px) {
    .header_h1 {
      font-size: 3.6rem;
      line-height: 4.5rem;
    }
}


.header_h2 {
  font-size: 3.4rem;
  line-height: 4rem;
}

.header_h3 {
  font-size: 2.5rem;
  line-height: 3rem;
}

@media (min-width: 1024px) {
    .header_h3 {
      font-size: 3.2rem;
      line-height: 4rem;
    }
}


.header_h6 {
  font-size: 2rem;
  line-height: 2.4rem;
}

.block {
    display: block;
}

.mb_1 {
    margin-bottom: 1rem;
}

.mb_2 {
    margin-bottom: 2rem;
}

.mb_3 {
    margin-bottom: 3rem;
}

.mb_4 {
    margin-bottom: 4rem;
}

.mb_5 {
    margin-bottom: 5rem;
}

.mb_6 {
    margin-bottom: 6rem;
}

.block_center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.w_100 {
    max-width: 100% !important;
    width: 100%;
}

.text-end {
    display: block;
   
    text-align: right;
}

.text-start {
    display: block;
    text-align: left;
}

.button {
   font-size: 1.6rem;
   display: block;
   padding: 1.5rem 4rem;
   border-radius: 3rem;
   transition: transform 0.2s ease-out;
}

.button:hover {
    transform: translateY(-1.5px);
}

.button_primary {
    background: var(--violet);
    border: none;
    color: var(--white);
}

.button_ghost {
    background: var(--white);
    color: var(--violet);
    border: 1px solid var(--violet);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
    .logo {
        display: flex;
        align-items: center;
        justify-content: start;
    }
}

.logo__source {
    display: block;
    width: 5.4rem;
    height: 5.4rem;
    margin-right: 1rem;
}

.logo__heading, .logo__description  {
    display: block;
}

.header__inner {
    padding: 2rem 0;
}

.header__description {
    display: none;
}

@media (min-width: 1024px) {
   .header__description {
       display: block;
        max-width: 29.6rem;
        width: 100%;
    } 
}

.header__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 1024px) {
   .header__content {
        margin-bottom: 2rem;
    } 
}

.header__connection {
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (min-width: 1024px) {
   .header__connection {
       justify-content: space-between;
   } 
}

.header__connection span {
    max-width: 8rem;
    width: 100%;
    margin-right: 1rem;
}

.header__connection img {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 1rem;
}

.header__time {
    display: none;
}

.header__connection span {
    display: none;
}

@media (min-width: 1024px) {
    .header__time, .header__connection span {
        display: block;
    }
}

.header__time span {
    max-width: 11rem;
    width: 100%;
}

.header__contact {
    width: 100%;
}

.header__contact span {
    display: none;
}
 
@media (min-width: 1024px) {
   .header__contact {
        max-width: 21.6rem;
   }
    .header__contact span {
        display: block;
    }
}

.nav {
    display: none;
}

@media (min-width: 1024px) {
   .nav {
       display: block;
        padding: 1.5rem 2.5rem;
        background: var(--violet);
        border-radius: 1rem;
    } 
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav__list a {
    font-size: 1.8rem;
    padding: 0.6rem 2.8rem;
    color: #ffffff;
    border-radius: 0.6rem;
}

.nav__list .active a {
    background: var(--white);
    color: var(--text-default);
}

.nav__list li {
    position: relative;
    z-index: 9;
}

.nav__list li:hover ul {
    display: block;
}

.nav__list li ul {
    display: none;
    max-width: 30rem;
    width: max-content;
    min-width: 10rem;
    position: absolute;
    top: 2.6rem;
    left: 0;
    background: var(--white);
    box-shadow: var(--shadow);
    color: var(--text-default);
}

.nav__list li ul li {
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.nav__list li ul li a {
    padding: 0;
    color: var(--text-default);
    font-size: 1.4rem;
}

.nav__list li ul li:hover {
    background: #cecece;
    color: var(--violet);
}

.section__inner {
    padding: 4rem 0;
    overflow-x: hidden;
}

.mobile_nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--white);
    z-index: 99;
    height: 100vh;
    padding: 6rem 4rem;
}

.mobile_nav .nav_close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    padding: 1rem;
    z-index: 999;
}

.mobile_button {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 1rem;
    background: var(--violet);
    z-index: 9;
}

.mobile_button span {
    display: block;
    width: 3rem;
    height: 0.3rem;
    margin: 0.5rem 0;
    background: var(--white);
}

.mobile_nav .nav_close:after{
  display: inline-block;
  content: "\00d7";
}

.mobile_nav .nav__list {
    display: block;
}

.mobile_nav .nav__list li {
    margin: 1.5rem 0;
}

.mobile_nav .nav__list a {
    border-radius: 0;
    padding: 0;
}

.mobile_nav .nav__list .active a {
    background: none;
    color: var(--violet);
}

.mobile_nav .nav__list li a {
    color: var(--text-default);
}

.mobile_nav .nav__list li:hover .mobile_nav .nav__list li ul {
    display: block;
}

.mobile_nav .nav__list li ul {
    position: static;
    max-width: initial;
    width: initial;
    min-width: initial;
    box-shadow: none;
}

.mobile_nav .nav__list li ul li {
    margin: 0;
}

@media (min-width: 1024px) {
 .section__inner {
    padding: 5rem 0;
}  

.mobile_nav {
    display: none;
}
}

.section__header {
    margin-bottom: 3rem;
}

@media (min-width: 1024px) {
.section__header {
    margin-bottom: 6rem;
}  
.mobile_button {
    display: none !important;
}
}

.section__text {
    margin-bottom: 3rem;
}

.section__header span {
    color: var(--violet);
}

.input_error {
    color: var(--error);
}

.phone_form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.phone_form button {
     width: 100%;       
 }

@media (min-width: 1024px) {
    .phone_form button {
        width: initial; 
    }
}

.form__input {
    width: 100%;
    margin-bottom: 2rem;
}

@media (min-width: 1024px) {
    .form__input {
        max-width: 36rem;
        margin-right: 2rem;
        margin-bottom: 0;
    }
    
    #modalBody .form__input {
        margin-bottom: 2rem;
    }
}

.form__input input {
    width: 100%;
    padding: 1.3rem;
    font-size: 1.6rem;
    border-radius: 3rem;
    border: 1px solid var(--violet);
    box-sizing: border-box;
}

.form_caption {
    display: flex;
    align-items: center;
    color: #2e2e2e;
    margin-top: 2rem;
}

.form_caption:before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--violet);
    margin-right: 1rem;
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
	animation: pulse 2s infinite;
	aspect-ratio: 1;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
	}
}

.hero__inner {
    background: url('../images/backgrounds/hero.png') no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
}

@media (min-width: 1024px) {
    .hero__inner {
        height: calc(100vh - 16.5rem);
    }
}

.hero__heading {
    max-width: 60rem;
    width: 100%;
    margin-bottom: 6rem;
}

.hero__items {
    width: 100%;
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.hero__item {
    width: 30rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.hero__item .image {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    box-shadow: var(--shadow);
    margin-right: 2rem;
    padding: 1rem;
    aspect-ratio: 1;
    background: var(--white);
}

.hero__item img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.price__list {
    display: flex;
    flex-wrap: wrap;
}

.price__item {
    width: 100%;
    margin-bottom: 2rem;
    list-style: none;
    box-shadow: var(--shadow);
    padding: 1.6rem;
    border-radius: 1rem;
}

@media (min-width: 1024px) {
    .price__item {
        max-width: calc(100% / 4 - 2rem);
        margin-right: 2rem;
    }
}

.price__item ul {
    margin-bottom: 2rem;
}

.price__item li {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin-bottom: 1rem;
}

.price__item li:before {
    content: '⬤';
    font-size: 1rem;
    line-height: 0;
    color: var(--violet);
    margin-right: 1.5rem;
}

.price__heading {
    margin-bottom: 1.8rem;
}

.price__image {
    width: 100%;
    height: 20rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.price__value {
    margin-bottom: 2rem;
}

.price__value:before {
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    background: var(--violet);
    margin-bottom: 1rem;
}

.price__value:after {
    content: '';
    display: block;
    width: 100%;
    height: .2rem;
    background: var(--violet);
    margin-top: 1rem;
}

.price__button {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .price__button {
        width: initial;
    }
}

.benefits {
    margin-bottom: 2rem;
}

.benefit {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin-bottom: 1rem;
}

.benefit:before {
    content: '⬤';
    font-size: 1rem;
    line-height: 0;
    color: var(--violet);
    margin-right: 1.5rem;
}

.advantages__description {
    margin-bottom: 2rem;
}

.advantages__inner {
    background: url('../images/backgrounds/advantages.png');
    background-size: cover;
}

.advantages__content {
    
}

@media (min-width: 1024px) {
    .advantages__content {
        width: 60%;
        margin-left: auto;
    }
}

.for-clients__inner {
    background: url('../images/backgrounds/for-clients.png') no-repeat;
     background-size: cover;
}

.for-clients__content {
}

@media (min-width: 1024px) {
   .for-clients__content {
    width: 50%;
    } 
}

.for-clients__header {
    margin-bottom: 2rem;
}

.for-clients__description {
    margin-bottom: 4rem;
}

.for-clients__items {
    
}

.for-clients__item {
    display: flex;
    align-items: center;
    padding: 2rem;
    box-shadow: var(--shadow);
    margin-bottom: 2rem;
    border-radius: 1rem;
    
}

.for-clients__item > span:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: var(--white);
    background: var(--violet);
    aspect-ratio: 1;
    margin-right: 1.6rem;
}

.info__inner {
    background: url('../images/backgrounds/info.png') no-repeat;
    background-size: cover;
}

.info__content {
    max-width: 65rem;
    width: 100%;
}


.info__items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.info__item {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

@media (min-width: 1024px) {
   .info__item {
       width: 20rem;
   } 
}

.info__item .image {
   width: 4.5rem;
   height: 4.5rem;
    border-radius: 50%;
    box-shadow: var(--shadow);
    margin-right: 2rem;
    padding: 1rem;
    background: var(--white);
    aspect-ratio: 1;
}


.info__item img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.faq__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.faq__item {
    position: relative;
    width: 100%;
    padding: 2rem;
    list-style: none;
    background: var(--white);
    box-shadow: var(--shadow);
    margin-bottom: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .faq__item {
        width: calc(100% / 2 - 1rem);
    }
}

.faq__item svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-1.5rem, 1.8rem) rotate(0);
    transition: transform 0.2s ease-out;
}

.faq__content {
    margin-top: 1.6rem;
}

.faq__item .faq__content {
    display: none;
}

.faq__item.active .faq__content {
    display: block;
}

.faq__item.active svg {
   transform: translate(-1.5rem, 1.8rem) rotate(45deg); 
}

.regions {}

.regions__list {
  display: flex;
  flex-wrap: wrap;
  
}

.regions__item {
  width: calc(100% / 5);
  margin-bottom: 1rem;
}

.contacts {}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__map {
  width: 100%;
  margin-bottom: 2rem;
}

.contacts__card {
  width: 100%;
}

@media (min-width: 1024px) {
   .contacts__map {
      width: 65%;
       margin-bottom: initial;
    } 
    .contacts__card {
      width: 33%;
    }
}

.contact-card {
    padding: 2rem 3rem;
    box-shadow: var(--shadow);
    border-radius: 1.5rem;
    background: var(--white);
}

.contact-card__heading {
    margin-bottom: 1.5rem;
}

.contact-card__description {
    margin-bottom: 2rem;
}

.contact-card__subject {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}


.contact-card__subject img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.contact-card__button {
    width: 100%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

@media (min-width: 1024px) {
   .contact-card__button {
       width: initial;
   } 
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 9999999;
}

.modal.open {
    display: block;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50rem;
    width: 100%;
    background: var(--white);
    padding: 4rem;
}

.modal__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.modal__buttons button:first-child {
    width: 100%;
    margin-bottom: 2rem;
}

.modal__buttons button:last-child {
    width: 100%;
}

@media (min-width: 1024px) {
  .modal__buttons button:first-child {
    width: 55%;
    margin-bottom: 0;
}

.modal__buttons button:last-child {
    width: 40%;
} 
}

.footer__inner {
    padding: 3rem 0;
}

@media (min-width: 1024px) {
    .footer__inner {
        display: block;
    }
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__item {
    display: block;
    width: 100%;
}

.footer__item.info {
    display: none;
}

@media (min-width: 1024px) {
.footer__item {
    display: block;
    width: calc(100% / 4);
}    
    
 .footer__item.info {
    display: block;
    padding: 0 3rem;
 } 
}

.footer__item h6 {
    font-weight: 600;
    display: block;
    margin-bottom: 1.5rem;
}

.footer__item span {
    display: block;
    margin-bottom: 0.7rem;
    text-align: center;
}

.footer__item span a:hover {
    color: var(--violet);
}

.service__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service__info {
    width:100%;
}

@media (min-width: 1024px) {
   .service__info {
        width: 55%;
    }
    
    .footer__item span {
        text-align: inherit;
    }
}

.service__info p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.service-single__inner {
    background: #f2f1f1;
}

.service__content img {
    width: 100%;
    display: block;
    height: 30rem;
    object-fit: contain;
}

@media (min-width: 1024px) {
   .service__content img {
        width: 40%;
    } 
}

.package {
    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    padding: 2rem;
    border-radius: 1rem;
}

.package__img {
    width: 100%;
    height: 15rem;
    object-fit: contain;
}

.package__box:first-child {
    width: 100%;
    margin-right: 2rem;
}

.package__box:last-child {
   width: 100%;
}

@media (min-width: 1024px) {
  .package__box:first-child {
    width: 20%;
    margin-right: 2rem;
}

.package__box:last-child {
   width: calc(80% - 2rem)  
}  
}

.included {
    margin-bottom: 4rem;
}

@media (min-width: 1024px) {
  .included {
    margin-bottom: 0;
}  
}

.included ul {
  width: 100%;
  max-width: 30rem;
  column-count: 2;
  column-gap: 40px;
}

.included ul li {
    font-size: 1.6rem;
}

.included__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .included__bottom {
        flex-wrap: nowrap;
        justify-content: end;
    }
}

.included__bottom button {
    width: 100%;
}

@media (min-width: 1024px) {
   .included__bottom button {
    width: initial;
} 
}

.included__bottom span {
    margin-right: 0;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 1024px) {
   .included__bottom span {
    margin-right: 3rem;
    text-align: initial;
    margin-bottom: 0;
} 
}

.included__bottom span strong {
    color: var(--violet);
}




.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.table th {
  background-color: var(--violet);
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #d8d8e0;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.tabs-heading__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tabs-heading__item {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--violet);
    cursor: pointer;
    margin-bottom: 2rem;
}

@media (min-width: 1024px) {
    .tabs-heading__item {
       width: 20rem;
       margin-right: 2rem;
    }
}

.tabs-heading__item.active {
    background: var(--violet);
    color: var(--white);
}

.tabs-content__list {
    display: flex;
    flex-wrap: wrap;
}

.tabs-content__item {
    width: calc(100% / 2);
    padding: 1rem;
}

@media (min-width: 1024px) {
   .tabs-content__item {
    width: calc(100% / 4);
    padding: 1.5rem;
} 
}

.tabs-content__inner {
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.tabs-content__item img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

@media (min-width: 1024px) {
    .tabs-content__item img {
        height: 20rem;
    }
}

.tabs-content__item h6 {
    padding: 1rem;
    font-size: 1.6rem;
}

.tabs-content__list {
    display: none;
}

.tabs-content__list.active {
    display: flex;
}

.reviews__slider {
    position: relative;
}

.reviews__slider .swiper-pagination {
    display: block;
    margin: 0 auto;
}

.reviews__slider .swiper-pagination .swiper-pagination-bullet {
    background: var(--violet);
}

.review-swiper__item {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

@media (min-width: 1024px) {
    .review-swiper__item {
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
}

.status_message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    color: var(--white);
    font-size: 1.6rem;
    z-index: 999;
    text-align: center;
}

#success {
    background: green;
}

#error {
    background: var(--error);
}






